@model Conference.Models.Presentation

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Palestra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Title)*@
            @Html.DisplayName("Título")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Abstract)*@
            @Html.DisplayName("Resumo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abstract)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Presenter)*@
            @Html.DisplayName("Palestrante")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresenterId)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Kind)*@
            @Html.DisplayName("Tipo de Palestra")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kind)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Pid }) |
    @Html.ActionLink("Voltar", "Index")
</p>
