@model IEnumerable<Conference.Models.Presentation>

@{
    ViewBag.Title = "Index";
}

<h2>Palestras</h2>

<p>
    @Html.ActionLink("Criar nova", "Create")
</p>
<br />
@Html.Label("Busca :")
@using (Html.BeginForm())
{
     @Html.TextBox("par")
     <input type="submit" style="display:none" />
}
<br />

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Title)*@
            @Html.DisplayName("Título")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Abstract)*@
            @Html.DisplayName("Resumo")
        </th>
        <th>

            @Html.DisplayName("Apresentador")
        </th>
        <th>

            @Html.DisplayName("Email")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Kind)*@
            @Html.DisplayName("Tipo de Palestra")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abstract)
        </td>
        <td>
           @Html.TextBoxFor(modelItem => item.PresenterId,
              (ViewBag.PresenterCollection as List<Conference.Models.Presenter>).Where(p => p.Id == item.PresenterId).FirstOrDefault().Name,
               htmlAttributes: new { @readonly = true, @style = "border:none;out-line:none;" }
           )

         </td>
        <td>
            @Html.TextBoxFor(modelItem => item.PresenterId,
              (ViewBag.PresenterCollection as List<Conference.Models.Presenter>).Where(p => p.Id == item.PresenterId).FirstOrDefault().Email,
               htmlAttributes: new { @readonly = true, @style = "border:none;out-line:none;" }
           )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kind)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Pid }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Pid }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.Pid })
        </td>
    </tr>
}

</table>


<script src="/Scripts/jquery-2.2.1.js"></script>
<script>

               $(document).ready(function () {
                   $('input[type=text]').on('input', function (e) {
                       $("input[type=submit]").click();
                   });
                   $('#par').focus();
                   var str = $('#par').val();
                   $('#par').val('');
                   $('#par').val(str);

               });

</script>