<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr") 
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Palestras", "Index", "Presentations", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Palestrantes", "Index", "Presenters", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Programação", "Index", "Schedules", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Usuários", "Index", "Users", new { area = "" }, new { @class = "navbar-brand" })
            
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        
            $('#PresenterId').change(function(){
           var pId = $(this).val();
           $.ajax({
                            
               url: '../../Presenters/LoadPresenters',
                    type:'POST',
                    data: JSON.stringify({id: pId}),
                    dataType: 'json',
                    contentType: 'application/json',
                    success:function(data){
                        $("#lPresenter").html(data[0].Email);
                    }
               });

            });
            $(document).ready(function () {
                $('#PresenterId').change();
            });


    </script>
</body>
</html>