@model Conference.Models.Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da Programação</h2>

<div>
    <h4>Programação</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Host)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Host)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdSchedule }) |
    @Html.ActionLink("Voltar", "Index")
</p>
