@model Conference.Models.Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Host)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Host)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdSchedule }) |
    @Html.ActionLink("Back to List", "Index")
</p>
