@model IEnumerable<Conference.Models.Schedule>

@{
    ViewBag.Title = "Index";
}


<h2>Programação</h2>

<p>
    @Html.ActionLink("Adicionar palestra à programação", "Create")
</p>

<br />
@Html.Label("Busca :")
    @using (Html.BeginForm())
    {
        @Html.TextBox("word")
        <input type="submit" style="display:none" />
    }
<br />
<table class="table table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Host)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitlePresentation)
        </th>
        <th></th>
    </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Host)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitlePresentation)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdSchedule }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdSchedule }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdSchedule })
        </td>
    </tr>
}

</table>

<script src="/Scripts/jquery-2.2.1.js"></script>
<script>
               $(document).ready(function () {
                   $('input[type=text]').on('input', function (e) {
                       $("input[type=submit]").click();

                   });
                       $('#word').focus();
                       var str = $('#word').val();
                       $('#word').val('');
                       $('#word').val(str);
               });
</script>
