@model IEnumerable<Conference.Models.Presenter>

@{
    ViewBag.Title = "Index";
}

<h2>Palestrantes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
    @Html.Label("Busca :")
    @using(Html.BeginForm()) {
        @Html.TextBox("find");
        <input type="submit" style="display:none" />
    }
<br />
<table class="table">
      <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
  @*      <th>
            @Html.DisplayNameFor(model => model.Email)
        </th> *@
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
  @*      <th>
            @Html.DisplayNameFor(model => model.Biography)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserOwner)
        </th> *@
        <th></th>
    </tr>

@foreach (var item in Model) {
      <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
     @*   <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>  *@
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
     @* <td>
            @Html.DisplayFor(modelItem => item.Biography)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.UserOwner)
        </td> *@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>
<script src="/Scripts/jquery-2.2.1.js"></script>
<script>
    $(document).ready(function () {
        var input = document.getElementById('find');
        $('input[type=text]').focus();
        var val = input.value; //store the value of the element
        input.value = ''; //clear the value of the element
        input.value = val; //set that value back.
      $('input').on('input', function () {
           $('input[type=submit]').click();
       });
    });
</script>
