@model Conference.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do usuário</h2>

<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kind)
        </dt>

        <dd>
            <span id="Kind"> @Html.DisplayFor(model => model.Kind)</span>
             <span id="tipo">Admin</span>
</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Username }) |
    @Html.ActionLink("Voltar", "Index")
</p>
<script src="/Scripts/jquery-2.2.1.js"></script>
<script>

    $(document).ready(function () {
        $("#Kind").hide();
        var str;
        if ($("#Kind").html() == "0")
            str = "Admin";
        if ($("#Kind").html() == "1")
            str = "Palestrante";
        if ($("#Kind").html() == "2")
            str = "Usuário";
        $("#tipo").html(str);
       });

</script>